
.under{
    display: flex;     
}

.list{
    padding-left: 50px;
    background-color: wheat;
}



@media screen  and (max-width: 500px){

    .under{
       
        flex-direction: column;
    }

    .list{
        padding-left: 50px;
        background-color: wheat;
    }
    
}