.main {
  background-color: black;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 2000px;
}

.btn{
  display: flex;
  gap: 40px;
  cursor: pointer;
}

.btn1{
  padding: 10px;
  color: white;
  background-color: red;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.main2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.main3 {
  border: 1.5px solid royalblue;
  border-radius: 10px;
  width: 150px; /* Adjust the width as desired */
  flex-basis: 16.66%; /* Set 16.66% for six items per row */
  padding: 10px;
}
