.container{

  display: flex;
  justify-content: space-between;
}

.icon{
  display: flex;
  height: 60px;
  margin-left: 60px;
  speak-as: 30px;
}

.imager{
  height: 40vmax;
  width: 50vmax;
}

.second{
  display: flex;
}

@media screen and (max-width : 500px) {

  .container {
    display: flex;
    flex-direction: column;
  }

  .second{
    display: flex;
    flex-direction: column;
  }
}